@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Jersey+25&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap') format('woff2');
}

body {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: #414040;
  background-color: #f5f5e7;
}

.app {
  width: 80%;
  height: 50vh;
  margin: auto;
  /* display: grid;
  grid-template-rows: 20% auto; */
}

.app h1 {
  margin: 20px;
  font-family:inherit;
  text-align: center;
  color: #222525;
  font-size: 50px;
}